<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>pants</title>
</head>
<body>
    <!-- h= Heading Tags-->
    <p> This is our shirt. previous prices was <mark><del> 300.</del></mark> 
    current prices = <ins> 280</ins>
    </p>
    <h> h1, h2, h3, h4, h5 and h6</h>
    
    <!-- End Heading Tags-->
    
    <p> (a+b) <sup>2</sup> = a <sup>2</sup> + 2ab + b <sup>2</sup></p>
    <p> water = H<sub>2</sub>O </p>

    <!-- p = Paragraph Tags-->
    <p>Lorem <b>ipsum</b> dolor sit amet, consectetur adipiscing elit. Praesent posuere enim a metus ornare sodales. Integer ullamcorper lacus sit amet molestie rhoncus.<br><br>

    <mark> Quisque </mark> ac enim sagittis, consectetur diam et, lacinia orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.  <strong>Pellentesque auctor,</strong>  ipsum nec vestibulum tincidunt, turpis est laoreet diam, at condimentum eros enim sed nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>


    <pre>
             My name
                    is 
                     Shoriful Alam
    </pre>
    <a href="https://www.google.com">Google</a>

    <ol start="1">
        <li> One</li>
        <li> Two</li>
        <li> Three</li>
        <li> Four</li>
    </ol>

    <ul style="list-style-type:none;">
        <li> Home</li>
        <li> about</li>
        <li> contact</li>
        <li> Registration</li>
    </ul>
    <form action="">
        <label for=""> Full Name</label>
        <input type="text" placeholder="Enter your full name"> <br><br>

        <label for=""> Email</label>
        <input type="email" placeholder="Enter your email"> <br><br>

        <label for=""> Password</label>
        <input type="password" placeholder="Enter your password"> <br><br>

        <input type="radio" name="Gender" id=""> Male <br>
        <input type="radio" name="Gender" id=""> Female <br>
        <input type="radio" name="Gender" id=""> Others <br> <br><br>

        <label for=""> Shirts Availavle</label>
        <input type="checkbox" name="" id=""> T-Shirt
        <input type="checkbox" name="" id=""> Full-Shirt
        <input type="checkbox" name="" id=""> Half-Shirt <br> 

        <label for=""> Numbers</label>
        <input type="number" name="" id=""> <br> <br><br>

        <input type="submit" value="Submit">
        <input type="reset" value="Reset">

    </form>
        
        <div class="cselector">
        <p>Div tag</p>
        </div>
        <p id="iselector">Id selector</p>
</body>
</html>